<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	<mapper namespace="com.dyz.dao.MessageMapper">
		<!-- 添加一条离线消息 -->
	  	<insert id="insertMessage" parameterType="message">
	  		insert into message(me_startdate,me_content,me_sender,me_receiver)
	  		value(now(),#{me_content},#{me_sender},#{me_receiver})
	  	</insert>
	  	<select id="selectMessage" parameterType="fenye" resultType="message">
	  		select me_id,me_startdate,me_content,me_isstate,me_sender,me_receiver
	  		from message
	  		<where>
	  		me_receiver=#{UserName}
	  		</where>
	  	</select>
	  	<update id="updateMess" parameterType="message">
	  		update message
	  			set
	  			me_isstate=1
	  			where me_id=#{me_id}
	  	</update>
	  	<select id="selectWeiduCount" parameterType="fenye" resultType="int">
	  		select count(1) from message WHERE me_receiver=#{UserName} and me_isstate=0
	  	</select>
	  	<delete id="deleteMessage" parameterType="string">
	  		delete from message where me_receiver=#{UserName} and me_isstate=1
	  	</delete>
	</mapper>