<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyz.dao.ModuleMapper">
	<!-- 查询 -->
	<select id="selectModules" resultType="module">
		select * from modules order by modules_weight asc
	</select>
	<!--  selectModuleByMId-->
	<select id="selectModuleByMId" resultType="module">
		select * from modules where modules_Id=#{modules_Id}
	</select>
	<!-- 修改 -->
	<update id="updateModule" parameterType="module">
		update modules 
		<set>
			<if  test="modules_Name != null and modules_Name != '' ">
				 modules_Name = #{modules_Name} ,
			</if>
			<if  test="modules_path != null and modules_path != '' ">
				 modules_path = #{modules_path} ,
			</if>
			<if  test=" modules_weight >= 0 ">
				 modules_weight = #{modules_weight} ,
			</if>
		</set>
		<where>
			modules_Id = #{modules_Id}		
		</where> 
	</update>
	<!-- 添加 -->
	<insert id="insertModule" parameterType="module">
		insert  into 
			modules (modules_Name,modules_path,modules_weight ,parentId)
			values (#{modules_Name},#{modules_path},#{modules_weight},#{parentId})
	</insert>
	<!-- 删除 -->
	<delete id="delModule" parameterType="int">
		delete from modules where modules_Id = #{modules_Id}	 
	</delete>
	
	<insert id="addRoleModule" parameterType="roleModules">
		insert  into 
			rolemodules (roles_Id,modules_Id)
			values (#{roles_Id},#{modules_Id})
	</insert>
	<!-- selectRoleByModuleId -->
	<select id="selectRoleByModuleId" parameterType="int" resultType="role">
		select * from rolemodules 
		where  modules_Id=#{modules_Id}
	</select>
	<!-- 根据模块id查询该模块下的所有节点数据 -->
	<select id="selectModulesByParentId" parameterType="int" resultType="module">
		SELECT modules_Id,modules_Name,parentId,modules_path,modules_weight 
		FROM modules
		where parentId=#{parentId}
	</select>
</mapper>