<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyz.dao.NetFollowsMapper">

	<!-- 映射 -->
  		<resultMap type="netFollows" id="followsMap">
		<id property="follows_Id" column="follows_Id"></id>
		<result property="followTime" column="followTime"/>
		<result property="nextFollowTime" column="nextFollowTime"/>
		<result property="conTent" column="conTent"/>
		<result property="followType" column="followType"/>
		<result property="createTime" column="createTime"/>
		<result property="followState" column="followState"/>
		<result property="nexit1int" column="nexit1int"/>
		<result property="nexit2String" column="nexit2String"/>	
		<result property="stu_Id" column="stu_Id"/>		
		<collection property="student" ofType="student">
			<result property="stu_id" column="stu_id"/>
			<result property="stu_Name" column="stu_Name"/>
			<result property="stu_ZiXunName" column="stu_ZiXunName"/>
		</collection>
	
	</resultMap>

		<!-- 分页多条件查询 -->
	<select id="selectNetFollows" parameterType="fenye" resultMap="followsMap">
		select s.*,n.* FROM students s,netfollows n 
		<where>
		 
			<if test="text1 !=null and text1!=''">
				and s.stu_Name like "%"#{text1}"%"
			</if>
			<if test="text2 !=null and text2!=''">
				and s.stu_ZiXunName like "%"#{text2}"%"
			</if>
			<if test="text3 !=null and text3 !=''">
				and n.followTime &gt;= #{text3}
			</if>
			<if test="text4 !=null and text4 !=''">
				and n.followTime &lt;= #{text4}
			</if>
			<if test="text5 !=null and text5!=''">
				and n.followState like "%"#{text5}"%"
			</if>
			<if test="text6 !=null and text6!=''">
				and n.followType like "%"#{text6}"%"
			</if>
			 and s.stu_Id=n.stu_Id 
		</where>		
		limit #{page},#{pageSize}
	</select>
	<!-- 查询总条数 -->
	<select id="selectCount" parameterType="fenye" resultType="int">
		select count(1) from students s,netfollows n
		
		<where>		 
			<if test="text1 !=null and text1!=''">
				and s.stu_Name like "%"#{text1}"%"
			</if>
			<if test="text2 !=null and text2!=''">
				and s.stu_ZiXunName like "%"#{text2}"%"
			</if>
			<if test="text3 !=null and text3 !=''">
				and n.followTime &gt;= #{text3}
			</if>
			<if test="text4 !=null and text4 !=''">
				and n.followTime &lt;= #{text4}
			</if>
			<if test="text5 !=null and text5!=''">
				and n.followState like "%"#{text5}"%"
			</if>
			<if test="text6 !=null and text6!=''">
				and n.followType like "%"#{text6}"%"
			</if>
			 and s.stu_Id=n.stu_Id 
		</where>		
	</select>
		  	
  	<insert id="insertFollows"  parameterType="netFollows">
  		INSERT INTO netfollows(stu_Id,followTime,followState,followType,
  		nextFollowTime,conTent,createTime)values(#{stu_Id},#{followTime},#{followState},
  		#{followType},#{nextFollowTime},#{conTent},now())
  	</insert>
  	
</mapper>