<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyz.dao.UserChecksMapper">

	<!-- 分页多条件查询签到信息 -->
	<select id="selectUserChecks" parameterType="fenye" resultType="userChecks">
		SELECT checks_Id,user_Id,userName,checkInTime, checkState,isCancel,checkOutTime,ucexit1int,ucexit2String
		 from userchecks 
		 <where>
		   <if test="text1 !=null and text1!=''">
				and userName like "%"#{text1}"%"
			</if>
			<if test="text2 !=null and text2!=''">
				and checkInTime &gt; #{text2}
			</if>
			<if test="text3 !=null and text3!=''">
				and checkInTime &lt; #{text3}
			</if>		
			
			<!--integer  -->
			<if test="num1!=null and num1!=''">
				and checkState=#{num1}
			</if>
		 </where>				 
		 limit #{page},#{pageSize}
	</select>
	<!-- 查询总条数 -->
	<select id="selectCount" parameterType="fenye" resultType="_int">
		select count(1) from userchecks
		 <where>
		   <if test="text1 !=null and text1!=''">
				and userName like "%"#{text1}"%"
			</if>
			<if test="text2 !=null and text2!=''">
				and checkInTime &gt; #{text2}
			</if>
			<if test="text3 !=null and text3!=''">
				and checkInTime &lt; #{text3}
			</if>	
			
			<!--integer  -->
			<if test="num1!=null and num1!=''">
				and checkState=#{num1}
			</if>
		 </where>
	</select>
	
	<!-- 查询当天签到的员工 -->
	<select id="selectdangtian" parameterType="int" resultType="int">
	 select
	 count(checkInTime)
	 from
	 userchecks
	 where 
	 date(checkInTime)=curdate()
	 and checkState=1
	 and user_Id=#{user_Id}
	</select>
	<!-- 查询签到表是否有该员工 -->
	<select id="selectByUserCheck" parameterType="int" resultType="int">
		select user_Id from userchecks where user_Id=#{user_Id}
	</select>
	<!-- 添加员工签到信息 -->
	<insert id="insertUserChecks" parameterType="userChecks">
		insert into userchecks
		(user_Id,userName,checkState,checkInTime)
		values(#{user_Id},#{userName},#{checkState},now())

	</insert>
	<update id="updateUserchecks" parameterType="userChecks">
		update userchecks
		<set>
			<if test="checkState !=null">
				checkState=#{checkState},
			</if>
			<if test="isCancel !=null">
				isCancel=#{isCancel},
			</if>
			<if test="checkOutTime !=null and checkOutTime !=''">
				checkOutTime=now(),
			</if>
			<if test="checkInTime !=null and checkInTime !=''">
				checkInTime=now()
			</if>
		</set>
		<where>
			<if test="user_Id !=null and user_Id !=''">
				user_Id=#{user_Id}
			</if>
		</where>
	</update>
	
	<update id="updateQuanTui">
		update userchecks set checkState=0,isCancel=1,checkOutTime=now() where
		checkState!=0	
	</update>
	
	<select id="selectcheckstate" parameterType="int" resultType="int">
	select checkState from Userchecks where user_Id=#{user_Id}
	</select>
	
</mapper>